@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle at top right, #f9f0ff 0%, #f5fbff 35%, #ffffff 70%);
  color: var(--foreground);
  font-family: var(--font-arabic), var(--font-geist-sans), Arial, Helvetica, sans-serif;
  direction: rtl;
}
